/* 
    Created on : Mar 23, 2015, 1:04:51 PM
    Author     : william
*/

.mainmenu{
    -fx-background-color:rgba(0,0,0,0);
    -fx-border-color:rgba(0, 0, 0) rgba(0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    -fx-border-width:1px 1px 1px 0px;
    -fx-min-height:100%;
}

.mainmenu Button{
    -fx-min-width : 200;
    -fx-border-color:rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0) rgba(0, 0, 0);
    -fx-background-color:rgba(0, 0, 0, 0);
}

.mainmenu Button:hover{
    -fx-background-color:rgba(255, 255, 255);
}

.schermdeel{
    -fx-min-width :100%;
    -fx-min-height:100%;
}

.schermdeel Label{
    -fx-padding: 10px 30px;
}

.center{
    -fx-alignment: CENTER;
}

.control{
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-border-color: black;
    -fx-alignment:center-right;
}

.defSpacing{
    -fx-spacing: 5px;
}

.defPadding{
    -fx-padding:10px;
}

.record{
    -fx-padding: 10px;
    -fx-spacing: 5px;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 1px 0px;
}

.record .artikelInfo{
    -fx-spacing: 5px;
}

.record Button{
    
}

.right{
    -fx-alignment:center-right;
}

.error{
    -fx-text-fill:red;
}

.toplaneMuteer{
    -fx-spacing: 25;
}

.inputMuteer{
    -fx-alignment: CENTER;
    -fx-fill-width: false;
    -fx-spacing: 5;
}

.buttonsMuteer{
    -fx-spacing: 50;
}

ComboBox{
    -fx-min-width: 300px;
}